body{
background-color: gray ;
}
/*HEADER*/
li{
	text-align: center;

}
.navbar {
	background: black ;
	border-radius: 0;
	border: 0;
	
}
.bis{
	background-color: white;
}
h1{
	font-family: mv boli ;
}
section{
	background-color: black;
	width: 70%;
font-family: mv boli ;
border-radius: 10px;
margin-bottom: 3%; 

}
#d1{
	margin-left:20%; 
}